.container {
   width: 300px
}
.clear {
   margin-top: 10px;
   display: block;
}
.container a {
   display: block;
}
.container > label > a {
   display: inline-block;
}
button {
   margin-left: 5px;
}
body {
   background-image: url(apex.png);
   background-size: 80px;
   background-position: 100%, 10%;
   background-repeat: no-repeat;
}